<!DOCTYPE HTML>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{%static 'insta/style.css'%}">
    <title>View - Pictr</title>
</head>
<body>
    {%include 'uploader/headbar.html' %}
    {%if request.user.is_authenticated%}
        <div class="post view" id="post{{post.id}}">
            <img class="postImg" alt="Post Image" src="/media/{{post.id}}{{post.img_ext}}">

            {%if pairs %}
                Predictions:
                {%for pair in pairs %}
                    <button class="button1">{{pair.0}}: {{pair.1}}%</button>
                {%endfor%}
            {%endif%}

            <div class="postButtons">
                Likes: {{post.num_likes}}
                {%if is_liked%}
                    <a href="{%url 'uploader:unlike' post.id%}" class="aButton">Unlike</a>
                {%else%}
                    <a href="{%url 'uploader:like' post.id %}" class="aButton">Like</a>
                {%endif%}
    
            </div>
            <div class="postCaption">
                    <a href="{%url 'insta:user' post.user%}"><span class="postCaptionUser">{{post.user}}</span>:</a> 
                <span class="postCaptionContent">{{post.caption}}</span>
                {%if is_followed%}
                    <a href="{%url 'uploader:unfollow' post.user.id post.id%}" class="aButton">Unfollow</a>
                {%else%}
                    <a href="{%url 'uploader:follow' post.user.id post.id %}" class="aButton">Follow</a>
                {%endif%}
            </div>
            <div class="tags">
                Tags: <a href="{%url 'uploader:predict' post.id%}" id='predict'>?</a>
                {%for tag in post.tags%}
                <a class="tagLink" href="/search/{{tag}}"><div class="tag">{{tag}}</div></a>                        
                {%endfor%}
            </div> 
           
            <form enctype="multipart/form-data" class="postNewComment" action="{%url 'uploader:comment_to' post.id %}" method="post" id="commentForm">
                {%csrf_token%}
                <input type="text" required name="newComment" id="comment_text" placeholder="Add a comment here...">
                <input type="submit" value="&gt;">
            </form>
            <div class="postComments">
                {% for c in comments %}
                    <div class="comment">
                        <div class="commentTime">{{ c.creation_datetime }}</div>
                        <a href="{%url 'insta:user' c.user.username%}"><span class="postCaptionUser">{{ c.user.username }}:</span></a>
                        <span class="commentContent">{{ c.text }}</span>
                    </div>
                {%endfor%}
            </div>
                
        </div>
    {%else%}
        You must be a registered user to use the detailed view.
    {%endif%}
</body>
</html>

    